<h1>AWS Application</h1>
<h2>Realizar las siguientes actividades: </h2>
1) Máquina EC2 dedicada con una base de datos MariaDb con la tabla Coches.
<br />
2) Máquina EC2 dedicada con nuestro Web Server y la aplicación Net Core desplegada
<br />
<a asp-controller="Home" asp-action="CochesMariaDb">
    Ir a listado de coches de la base de datos de MariaDb
</a>